@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
}

#container {
    width: 100%;
    margin: 0 auto;
}

header{
    display: table;
    margin: 0 auto;
    box-sizing:content-box;
    padding: -100px;
}

ul{
    width: 100%;
    height: 10px;
}

#title {
    font-family: 'KCC-Ganpan';
    font-weight: 500;
    color: darkorange;
    display: inline-block;
}

li {
    font-family: 'KCC-Ganpan';
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
}

form {
    display: inline;
}

input {
    line-height: 1.4;
    font-size: 1rem;
    background-color: var(--seed-scale-color-gray-100);
    box-sizing: border-box;
    height: 44px;
    padding: 0.9rem 1.2rem;
    border: none;
    border-radius: 0.6rem;
    width: 288px;
    color: var(--seed-scale-color-gray-900);
}


#se1 {
    width: 100%;
    height: 760px;
    margin: 0 auto;
    position: relative;
    background-color:
        #FBF7F2;
    top: 50px;

}

#se1>p {
    position: absolute;


}

.title1 {
    background-color: #FBF7F2;
    margin: 0;
    position: relative;
    left: 50px;
    top: 300px;


}

#se1>div {
    position: relative;
    width: 80%;
    margin: 0 auto;
    height: 1000px;
    
}

#se1>div>.title1{
    position: relative;
    left: 40px;
    bottom: 100px;
    top: 200px;
    font-size: 2rem;
    line-height: 1.35;
    margin-bottom: 2.0rem;

}

#se1>div>.text1{
    position: relative;
    left: 40px;
    bottom: 500px;
    top: 200px;
    font-size: 1.3rem;
    line-height: 1.35;
    margin-bottom: 2.0rem;

}
#se1>div>img {
    position: absolute;
    right: 84px;
    top: 0;
    width: 804px;
    height: 685px;
    background-color: #FBF7F2;
    background-repeat: no-repeat;
    background-size: 804px 685px;
}

.text1 {
    position: relative;
    left: 50px;
    top: 300px;
    background-color: #FBF7F2;
}

#se2>div {
    position: relative;
    width: 80%;
    margin: 0 auto;
    top:200px
}


#se2>div>img {
    background-size: 532px 684px;
    width: 532px;
    height: 684px;
}

.title2 {
    position: relative;
    left: 700px;
    bottom: 500px;
    font-size: 2rem;
    line-height: 1.35;
    margin-bottom: 2.0rem;
}

button {
    background-color: #F1F3F5;
    color: #212529;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    padding: 2.0rem;
    padding-top: 12px;
    display: inline-block;
    font-weight: 700;
    margin: 3.0rem 0;
    height: 60px;
}

.button {
    position: relative;
    left: 700px;
    bottom: 500px;
}

#se3 {
    background-color: #E6F3E6;
    ;
    background-position: center;

}

#se3>div {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#se3>div>.title3>#icon1 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-1-9226479b836cdc960291ffda91ace46c90a632f6cc868aa8983b3624e662a924.svg);
    width: 200px;
    height: 200px;
    background-size: 56px 56px;
    background-repeat: no-repeat;
    left: 700px;
    bottom: 500px;
    display: inline-block;
    margin-right: 50px;
}


#se3>div>.title3>#icon2 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-2-208bb88cad31e335b40bc8ac5b7684dcf8a36d77ac50770a497a9c967a3bfc4f.svg);
    width: 200px;
    height: 200px;
    background-size: 56px 56px;
    background-repeat: no-repeat;
    left: 800px;
    bottom: 500px;
    display: inline-block;
    margin-right: 50px;
}

#se3>div>.title3>#icon3 {
    background-image: url(https://d1unjqcospf8gs.cloudfront.net/assets/home/main/icon-story-3-0a14d64c6101a7271655747d8401b9f71506578f8a4c0640608074e977bbc7c0.svg);
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: 56px 56px;
    left: 700px;
    bottom: 500px;
    display: inline-block;
    margin-right: 50px;
}

#se3>.title3>#icon1>#a1>p {
    display: inline-block;

}

#se3>.title3>#icon2>#a2 {
    display: inline-block;
}

#se3>.title3>#icon3>#a3 {
    display: inline-block;
}

#se3>div>img {
    background-size: 546px 740px;
    width: 546px;
    height: 740px;

}

#se3>div>.title3>#icon1>p {
    font-size: 16px;
}

#se3>div>.title3>#icon2>p {
    font-size: 16px;
}

#se3>div>.title3>#icon3>p {
    font-size: 16px;
}

.title3 {
    position: relative;
    left: 700px;
    bottom: 500px;
    font-size: 2rem;
    line-height: 1.35;
    margin-bottom: 2.0rem;
}

.title3>p {
    font-size: 20px;
}

#se4 {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#se4 > .title4{
    position: absolute;
    font-size: 2rem;
    line-height: 1.1;
    top: 150px;
    left:70px

}

#se4 >.title4 >p{
    font-size: 1.6rem !important;
    line-height: 1.5;
    letter-spacing: -0.3px;
}




#se4>img {
    position: absolute;
    right: 84px;
    top: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 526px 735px;
    width: 526px;
    height: 735px;
}

#se5{
    position: relative;
    top:900px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#se5>h2{
    font-size: 50px;
}

#se5>a{
    cursor: pointer;
    text-decoration: underline;
    color: #212529;
    font-size: 1.3rem !important;
    line-height: 1.5;
    letter-spacing: -0.3px;
}

#se6{
    position: relative;
    width: 100%;
    margin: 0 auto;
    top:1300px;
    text-align: center;
}

#se6>a{
    cursor: pointer;
    text-decoration: underline;
    color: #212529;
}

footer{
    position: relative;
    top: 1350px;
}

footer>div#footer2{
    height: 2px;
}
footer>div#footer3{
    height: 2px;
}

footer>div#footer1>li{
    display:block;
    position: relative;
    left:450px;
    box-sizing: content-box;
    width: 100px;
    margin-right: 0px;
    margin-bottom: 20px;
}

footer>div#footer2>li{
    display: block;
    position: relative;
    bottom: 210px;
    left: 570px;
    margin: 20px;
}
footer>div#footer3>li{
    display: block;
    position: relative;
    left: 700px;
    bottom: 215px;
    margin-bottom: 20px;
}

footer>#footer4>p{
    margin-bottom: -10px ;
}

footer>#footer4{
    position: relative;
    left: 950px;
    bottom:230px
    
}

footer>span>img{
    width: 20px;
    height: 20px;
    opacity: 0.5;
}

footer>span#info{
    display:block;
    position: relative;
    left:450px;
    box-sizing: content-box;
    width: 1000px;
    margin-right: 0px;
    font-size: 15px;
    opacity: 0.5;
}

footer>span#language{
    position: relative;
    left:1000px;
    bottom:140px
}

footer>span#info>a{
    text-decoration: none;
    color: black;
}

footer>span#language>img{
    margin-left: 10px;
}
